@import "common/foundation/variables";


/*Display a custom title after the username for all STAFF user
It will not be displayed if site setting "prioritize username in ux" is disabled */
.username.admin::after {
    content: 'Administrator';
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    display: inline-block;
}
.username.moderator::after {
    content: 'Moderator';
    color: green;
    border: 1px solid green;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    display: inline-block;
}

/*Optional - Reduce size in the user card*/
#user-card .username.moderator::after {
    font-size:.7em;
    margin-left:0px;
}
#user-card .username.admin::after {
    font-size:.7em;
    margin-left:0px;
}

