@import "common/foundation/variables";


/*Display a custom title after the username differentiating ADMIN users from MOD users
It will not be displayed if site setting "prioritize username in ux" is disabled */
.username {
  &.admin:after {
    content: 'Admin' !important;
    color: red !important;
    border: 1px solid red !important;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    display: inline-block;
  }

  &.moderator:after {
    content: 'Moderator';
    color: green;
    border: 1px solid green;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    display: inline-block;
  }
}

/*Optional - Hide the icon shield only on posts*/
.names .svg-icon-title {
  display: none;
}

.nav-bar {
  display: flex;
  gap: 0.5em;
  align-items: center;

  .custom-dropdown {
    position: relative;

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--secondary);
      border: 1px solid var(--primary-low);
      border-radius: 4px;
      z-index: 9999;
      padding: 0;
      margin: 0;
      list-style: none;
      min-width: 180px;

      li a {
        display: block;
        padding: 8px 12px;
        color: var(--primary);
        text-decoration: none;
      }

      li a:hover {
        background-color: var(--primary-low);
      }
    }

    &:hover .dropdown-menu {
      display: block;
    }
  }

  a.btn {
    white-space: nowrap;
  }
}
